@import 'src/variables.scss';

.container {
  .title {
    margin-bottom: 8px;
    color: map-get($theme-colors, 'label');
  }
  .toggle {
    display: flex;
    background-color: #bcbcbc;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;

    .yes,
    .no {
      opacity: 0.3;
      color: rgb(71, 71, 71);

      &.active {
        opacity: 1;
        background-color: map-get($theme-colors, 'dark');
        color: white;
      }
    }
    & > div {
      padding: 8px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
