@import 'src/theme.scss';

.container {
  border-radius: 6px;
  background-color: white;
  color: #6b6d78;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  min-width: 82px;
  min-height: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.019);
  &:last-child {
    margin-right: 0;
  }
  &.active {
    color: white;
    background-color: map-get($theme-colors, 'primary');
  }
}

.listContainer {
  display: flex;
  padding: 4px 16px 8px 16px;
  overflow-x: scroll;
  width: calc(100% - 32px);
}
