@import 'src/theme.scss';

.container {
  @apply bg-white
   dark:bg-gray-800
   dark:text-gray-200
   text-gray-900;

  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  min-width: 83px;
  min-height: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.019);
  &:last-child {
    margin-right: 0;
    min-width: 85px;
  }
  &.active {
    color: white;
    background-color: map-get($theme-colors, 'primary');
  }
}

.listContainer {
  display: flex;
  width: 100%;
}
